.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tab-contorl {
  display: flex;
}
.tab-item {
  flex: 1;
  line-height: 44px;
  height: 44px;
}
.tab-item.active {
  color: red;
}
.navbar {
  display: flex;
}
.nav-item {
  line-height: 44px;
  height: 44px;
  text-align: center;
}
.nav-left,
.nav-right {
  background-color: rgb(241, 142, 142);
  width: 80px;
}
.nav-center {
  background-color: rgb(138, 213, 236);
  flex: 1;
}
